.nav-text {
  font-family: "Kumb Sans", sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
}

.heading {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.description,
p {
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
}

.header {
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}

.header .bg {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: blur(5px) brightness(85%);
          filter: blur(5px) brightness(85%);
  z-index: 0;
}

.header .logo {
  position: absolute;
  width: 500px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-filter: drop-shadow(3px 3px 3px #151517);
          filter: drop-shadow(3px 3px 3px #151517);
}

.main {
  padding: 40px 80px;
}

.about {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100vw;
  margin-left: -80px;
  margin-bottom: 40px;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-description {
  margin: 0 80px;
}

.about .about-description .heading {
  color: #151517;
}

.about .about-description .description {
  color: #555555;
}

.about .photo {
  right: 80px;
  bottom: 0;
  width: 250px;
  position: absolute;
}

.nav-main {
  position: absolute;
  background-color: #151517;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-main_list {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media (max-width: 850px) {
  .nav-main_list {
    width: 40%;
  }
}

.nav-portfolio {
  position: relative;
  background-color: none;
}

.nav-portfolio .nav-main_list {
  width: 40%;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 400px;
  margin-bottom: 10px;
}

.grid-item--width2 {
  width: 820px;
}

.grid-item img {
  width: 100%;
}

.hide {
  display: none;
}

.footer {
  background-color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .heading {
  color: #151517;
}

.footer .socials a {
  margin-right: 2em;
}

.footer .socials a img {
  height: 50px;
  width: auto;
}

.footer .socials a:last-child {
  margin-right: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #151517;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}
/*# sourceMappingURL=style.css.map */