@import "../scss/variables.scss";
@import "../scss/typography.scss";
@import "../scss/header.scss";
@import "../scss/main.scss";
@import "../scss/about.scss";
@import "../scss/navigation.scss";
@import "../scss/grid.scss";
@import "../scss/footer.scss";

html,
body {
    padding: 0;
    margin: 0;
    background-color: $main-color;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
}
