.footer {
  background-color: $secondary-color;
  flex-shrink: 0;
  padding: $margin-desktop-tb $margin-desktop-lr;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .heading {
    color: $main-color;
  }

  .socials {

    a {
      margin-right: 2em;

      img {
        height: 50px;
        width: auto;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
