.grid {
    margin: 0 auto;

    &-item {
        width: 300px;
        margin-bottom: 10px;

        &--width2 {
            width: 620px;
        }

        img {
            width: 100%;
        }
    }
}