.nav-main {
  position: absolute;
  background-color: $main-color;
  width: 100%;
  display: flex;
  justify-content: center;

  &_list {
    width: 25%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;

    @include breakpoint(tablet) {
      width: 40%;
    }

    @include breakpoint(phone) {
      width: 60%;
    }

    @include breakpoint(sm) {
      width: 80%;
    }
  }
}

.nav-portfolio {
  position: sticky;
  top: 0;
  background-color: $main-color;
  z-index: 100;

  .nav-main_list {
    width: 40%;

    .btn-filter {
      cursor: pointer;
    }
    @include breakpoint(tablet) {
      width: 80%;
    }

    @include breakpoint(phone) {
      width: 95%;
    }

    @include breakpoint(sm) {
      flex-direction: column;
      
      .btn-filter {
        margin: 4px 0;
      }
    }
  }
}
